<footer>
    <!-- Main Footer -->
    <div>
        <img class="Footer_Logo" src="/assets/img/Logo.svg" alt="HR Tech World">
        <!-- HRN Links -->
        <ul class="Footer_Links">
            <li><a href="#" target="_blank" title="HRN" class="Footer_Links-Link" >HRN</a></li>
            <li><a href="#/about" target="_blank" title="ABOUT" class="Footer_Links-Link" >ABOUT</a></li>
            <li><a href="#/about" target="_blank" title="ABOUT" class="Footer_Links-Link" >Team</a></li>
            <li><a href="http://careers.hrn.io" target="_blank" title="JOBS" class="Footer_Links-Link" >JOBS</a></li>
            <li><a href="contact" target="_parent" title="CONTACT" class="Footer_Links-Link">CONTACT</a></li>
        </ul>
        <!-- END HRN Links -->
        <!-- Social Links -->
        <ul class="Footer_SocialIcons"> 
            <li>
                <a title="Twitter"  href="https://twitter.com/hrtechworld" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
             <li>
                <a title="LinkedIn"  href="https://www.linkedin.com/grp/home?gid=3930182" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a title="Facebook"  href="https://www.facebook.com/hrtechworld" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a title="LinkedIn"  href="https://www.linkedin.com/grp/home?gid=3930182" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a title="Youtube"  href="https://www.youtube.com/user/hrneurope/" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
        </ul>
        <!-- END Social Links -->
    </div>

    <!-- Sub Footer -->
    <div class="Footer_Tail">
        <p>
            <span class="Footer_Tail-Element">HRN</span> 
            <span class="Footer_Tail-DIV">|</span> 
            <span><a href="#" target="_parent" title="HR Tech World Terms &amp; Conditions" class="pardotTrackClick" >Terms &amp; Conditions</a> 
                | 
                <a href="#" target="_parent" title="HR Tech World Cookie Policy" class="pardotTrackClick" >Cookie Policy</a> </span>
            <span class="Footer_Tail-DIV">|</span> 
            <span class="Footer_Tail-Element">Copyright © 2017 HRN.</span> 
            <span class="Footer_Tail-Element">All Rights Reserved.</span>
        </p>
    </div>
    <!-- Sub Footer -->
</footer>