<section id="TitleNav"> 

    <div id="TitleNav-row">
        <ul>
            <li class="TitleNav-row_elm TitleNav-row_active" data-filter=".SummerSaver"><i class="fa fa-user fa-lg" aria-hidden="true"></i>
			<br class="TitleNav-row_elmtitle">SINGLE ATTENDEE</li>
            <li class="TitleNav-row_elm" data-filter=".Group"><i class="fa fa-users fa-lg" aria-hidden="true"></i>
			<br class="TitleNav-row_elmtitle">GROUP TICKETS</li>
            <li class="TitleNav-row_elm" data-filter=".Investor"><i class="fa fa-podcast fa-lg" aria-hidden="true"></i>
			<br class="TitleNav-row_elmtitle">INVESTORS</li>
            <li class="TitleNav-row_elm" data-filter=".Startup"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
		<br class="TitleNav-row_elmtitle">STARTUPS</li>
        </ul> 
        
    </div>

</section>
