     <section>
    <div class="MainNavHeader">
        <ul id="MainNavHeader_List">
            <li>EARLY BIRD <span class="MainNavHeader_List-span">SOLD OUT</span><span class="MainNavHeader_List-active">/</span></li>
            <li class="MainNavHeader_List-active">SUMMER SAVER 
            <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>

            <div id="MainNavHeader_List-summerSpan"> <span class="MainNavHeader_List-UutilSpan">UNTIL</span> <br> <span class="MainNavHeader_List-DateSpan">AUG.31</span></div><span class="MainNavHeader_List-bolder-sep">/</span></li>
            
            <li>REGULAR<span class="MainNavHeader_List-active">/</span></li>

            
            <li>LATE <span class="MainNavHeader_List-sep">/</span></li>
            <li>ONSITE REGISTRATION</li>
        </ul>
    </div>


</section>
  <div class="wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="ticket-card">
            <div class="cover">
              <img src="http://pbs.twimg.com/media/DJNZCWpW4AIYsbR.jpg" alt="" />
              <div class="info">
                <div class="going">
                  <i class="fa fa-group"></i> 4,234 Going
                </div>
                <div class="tickets-left">
                  <i class="fa fa-ticket"></i> 240 Tickets Left
                </div>
              </div>
            </div>
            <div class="body">
              
              <div class="artist">
                <h4 class="name">HR Tech World Amsterdam</h4>
              </div>
              <div class="price">
                <div class="from">From</div>
                <div class="value">
                  <b>$</b>786
                </div>
              </div>
              
              <div class="clearfix"></div>
              <div class="info">
                <p class="location">
                  <i class="fa fa-map-marker"></i> Amsterdam
                </p>
                <p class="date">
                  <i class="fa fa-calendar"></i> 27 OCT, 2017
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="collapse">
              <ul class="list-unstyled">
                <li>
                  <div class="ticket">
                    <h5>Expo Only Ticket<br>
                      <small>25 Tickets left</small>
                    </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>599</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo<br>
                    <small>15 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo Day 1<br>
                    <small>62 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,299</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Governmental Sector<br>
                    <small>6 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
              </ul>
            </div>
            <div class="footer">
              <button class="btn toggle-tickets">Show Tickets</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
             <div class="ticket-card active">
            <div class="cover">
              <img src="https://people-equation.com/wp-content/uploads/2016/03/WorkHuman-speakers.jpg" alt="" />
              <div class="info">
                <div class="going">
                  <i class="fa fa-group"></i> 5,323 Going
                </div>
                <div class="tickets-left">
                  <i class="fa fa-ticket"></i> 260 Tickets Left
                </div>
              </div>
            </div>
            <div class="body">
              
              <div class="artist">
                <h4 class="name">HR Tech World Amsterdam</h4>
              </div>
              <div class="price">
                <div class="from">From</div>
                <div class="value">
                  <b>$</b>599
                </div>
              </div>
              
              <div class="clearfix"></div>
              <div class="info">
                <p class="location">
                  <i class="fa fa-map-marker"></i> Amsterdam
                </p>
                <p class="date">
                  <i class="fa fa-calendar"></i> 30 SEP, 2017
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div data-toggle="collapse" id="show" class="collapse in">
              <ul class="list-unstyled">
                <li>
                  <div class="ticket">
                    <h5>Expo Only Ticket<br>
                      <small>25 Tickets left</small>
                    </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>599</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo<br>
                    <small>15 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo Day 1<br>
                    <small>62 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,299</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Governmental Sector<br>
                    <small>6 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
              </ul>
            </div>
            <div class="footer">
              <button class="btn toggle-tickets">Show Tickets</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="ticket-card">
            <div class="cover">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY8UKmOpp0iJ35OR9xiZGoxqfYdhDCLIfCy6KcVoPUetF7QD7V" alt="" />
              <div class="info">
                <div class="going">
                  <i class="fa fa-group"></i> 3,223 Going
                </div>
                <div class="tickets-left">
                  <i class="fa fa-ticket"></i> 440 Tickets Left
                </div>
              </div>
            </div>
            <div class="body">
              
              <div class="artist">
                <h4 class="name">HR Tech World Amsterdam</h4>
              </div>
              <div class="price">
                <div class="from">From</div>
                <div class="value">
                  <b>$</b>878
                </div>
              </div>
              
              <div class="clearfix"></div>
              <div class="info">
                <p class="location">
                  <i class="fa fa-map-marker"></i> Amsterdam
                </p>
                <p class="date">
                  <i class="fa fa-calendar"></i> 23 NOV, 2017
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="collapse">
              <ul class="list-unstyled">
                <li>
                  <div class="ticket">
                    <h5>Expo Only Ticket<br>
                      <small>25 Tickets left</small>
                    </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>529</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo<br>
                    <small>15 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Conference/Expo Day 1<br>
                    <small>62 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,299</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
                <li>
                  <div class="ticket">
                    <h5>Governmental Sector<br>
                    <small>6 Tickets left</small>
                  </h5>
                  </div>
                  <div class="price">
                    <div class="value"><b>$</b>1,799</div>
                  </div>
                  <a href="#" class="btn btn-info btn-sm btn-buy">Buy Now!</a>
                </li>
              </ul>
            </div>
            <div class="footer">
              <button class="btn toggle-tickets">Show Tickets</button>
            </div>
          </div>
        </div>


      </div>
    </div>

    <footer>
<div id="Sponsor">
              <img class="Sponsor_ICON" src="http://hrn.io/img/mainpage/sponsors/logos/workday.png" alt="Workday">
      <img class="Sponsor_ICON" src="http://hrn.io/img/mainpage/sponsors/logos/oracle.png" alt="Oracle">
      <img class="Sponsor_ICON" src="http://hrn.io/img/mainpage/sponsors/logos/successfactors.png" alt="SAP SuccessFactors">
      <img id="Pfizer" class="Sponsor_ICON" src="http://hrn.io/img/mainpage/sponsors/logos/pfizer.png" alt="Pfizer">    

   </div>





      
    </footer>
  </div>

